src/data/program/room-height.json
[
    {
        "id": "66f8c6f46803ae28",
        "type": "http in",
        "z": "5b3a532588595481",
        "name": "",
        "url": "/roomHeight",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "db1ff368a6553a25"
            ]
        ]
    },
    {
        "id": "db1ff368a6553a25",
        "type": "function",
        "z": "5b3a532588595481",
        "name": "天井高さ判定",
        "func": "const roomHieght = msg.payload.roomHieght;\nlet newMsg = { payload: \"ok\" };\nif (roomHieght < 2.1) {\n    newMsg = { payload: \"居室の天井の高さは、二・一メートル以上でなければなりません。\" };\n} \n\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "c386428d11fc83ef"
            ]
        ]
    },
    {
        "id": "c386428d11fc83ef",
        "type": "http response",
        "z": "5b3a532588595481",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 120,
        "wires": []
    }
]